#hyperClick {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

#hyperClick a {
  text-decoration: none;
  color: var(--background);
}

.label {
  border-radius: 3px;
  color: var(--background);
  background-color: var(--foreground);
  padding: 0 5px;
}

.label-success {
  background-color: var(--greenish);
}

.label-error {
  background-color: var(--redish);
}

.label-warning {
  background-color: var(--orangish);
}

.label-info {
  background-color: var(--bluish);
}
